.main-redesSociais  {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: wrap;
}

.main-redesSociais img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.404);
    
    animation: all 550ms cubic-bezier(.68,-0.55,.07,3.13);
    opacity: 0.85;

    transition: transform 0.180s,  border 0.2s;
}

.main-redesSociais img:hover {
    transform: scale(1.3);
    transform: translate(-3px, -3px);

    box-shadow: 5px 5px 10px #00000065;

    border: 2px solid #ffffffd0 ;
    opacity: 1;
}